/*==============================
=            COLORS            =
==============================*/

$warning: #fdbc40;
$terminate: #fc615d;
$run: #34c749;
$tech-intence: #3bfc32;


/*=====  End of COLORS  ======*/
